* {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 70px;
    color: #ffffff;
    text-shadow: 3px 3px #000000;
}

*:empty {
    display: none !important;
}

html {
    position: absolute;
    bottom: 0;
}

#races:before {
    content: "Races: ";
}

#score:before {
    content: "Score: ";
}

#teamScore:before {
    content: "(";
}

#teamScore:after {
    content: ")";
}

#races, #score {
    display: block;
}

#ptsAhead, #position, #teamScore, #ptsBehind {
    display: inline-block;
    justify-content: space-between;
    width: auto;
}
